@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Light.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/Raleway/Raleway-Black.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-Black.woff') format('woff'),
         url('../fonts/Raleway/Raleway-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway/Raleway-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
         url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
         url('../fonts/Raleway/Raleway-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
         url('../fonts/Raleway/Raleway-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
         url('./fonts/Raleway/Raleway-Regular.woff') format('woff'),
         url('./fonts/Raleway/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'montserratregular', Arial, Helvetica, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}
.header_main {
    background-image: url(../img/Photo_BG_dark.webp);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 1024px;
    position: relative;
}

.header_container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 309px;
}
.container_nav {
    display: flex;
    margin-right: 200px;
}
.navbar_header {
    display: flex;
    list-style-type: none;
    margin-top: 35px;
}
.navbar_item {
    margin-right: 30px;
}
.navbar_item_mr {
    margin-right: 64px;
}
.navbar_item_link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
.navbar_item_link:hover {
    color: #baa791;
}
/* .navbar_header:hover > li {
    opacity: 0.5;
}
.navbar_header:hover > li:hover {
    opacity: 1;
  } */
.logo_header {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    margin-left: 200px;
}
/* .logo_header::before {
    content: "";
    background-image: url(../img/logo.svg);
    display: inline-block;
    width: 64px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-right: 2px;
} */
.basket_head, .find_head {
    background: none;
    border: none;
    margin-top: 35px;
}
.basket_head {
    margin-right: 28px;
}
.card {
    fill: #fff
}
.card:hover {
    fill: #c7b299;
}
.search {
    fill: #fff
}
.search:hover {
    fill: #c7b299;
}
.main_header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header2 {
    color: #ffffff;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 36px;
    font-weight: 500;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.header1 {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 52px;
    font-weight: 800;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 19px;
}
.header_text {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 52px;
}
.main_button {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    padding: 21px 39px;
    border: none;
    border-bottom: 1px solid #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    margin-bottom: 275px;
}
.main_button:hover {
    background-color: #656057;
}
.arrow_box {
    display: flex;
    justify-content: space-between;
}
.left, .right {
    width: 40px;
    height: 73px;
    opacity: 0.5;
}
.left {
    position: absolute;
    left: 150px;
    top: 475px;
}
.right {
    position: absolute;
    right: 150px;
    top: 475px;
}
.left:hover, .right:hover {
    fill: #cebca9;
    opacity: 1;
}
.decor_list {
    display: flex;
    justify-content: center;
}
.fa-circle {
    color: #8c8c8f;
    margin-right: 10px;
    opacity: 0.5;
}
.fa-circle_mr {
    margin-right: 0;
}
.fa-circle:active {
    border: 3px solid #d3c1ad;
    border-radius: 50px;
    color: currentColor;
}
.fa-circle:hover {
    border: 3px solid #d3c1ad;
    border-radius: 50px;
}
.card_box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 80px 378px; */
    padding-top: 80px;
    padding-bottom: 80px;
}
.icon {
    fill: #555555
}
.line {
    fill:#f1eee9
}
.card_item {
    text-align: center;
    margin-right: 35px;
    max-width: 270px;
}
.card_item:hover .card_item_head {
    color: #c7b299;
}
.card_item:hover .line {
    fill: #c7b299;
}
.card_item:hover .icon {
    fill: #c7b299;
}
.card_item:hover .line_div {
    background-color: #c7b299;
}
/* .icon:hover {
    fill: #c7b299;  
}
.line:hover {
    fill:#c7b299;
}
.card_item_head:hover {
    color: #c7b299;
} */
.card_item_folder {
    margin-right: 0;
}
.icon {
    margin-bottom: 29px;
}
.card_item_head {
    margin-bottom: 19px;
    color: #555555;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.card_item_text {
    margin-bottom: 33px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.line_div {
    margin: 0 auto;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}
.ideas {
    text-align: center;
}
.ideas_head{
    max-width: 500px;
    margin: 0 auto;
}
.head {
    color: #555555;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 24px;
}
.text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.ideas_text {
    max-width: 760px;
    margin: 0 auto;
}
.img_box {
    position: relative;
}
.left_img {
    position: absolute;
    top: 122px;
    left: 346px;
    z-index: 1;
}
.main_img {
    position: absolute;
    top: 40px;
    left: 576px;
    z-index: 5;
}
.right_img {
    position: absolute;
    top: 122px;
    right: 344px;
    z-index: 1;
}
.wordpress {
    margin-top: 522px;
    background-image: linear-gradient( to right, #241c1a, #4b3326 );
    display: flex;
    justify-content: space-around;
    padding-top: 48px;
    padding-bottom: 48px;
}
.wordpress_head {
    color: #ffffff;
    font-family: 'ralewayregular', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 8px;
}
.wordpress_text {
    color: #615855;
    font-size: 18px;
    font-weight: 300;
}
.wordpress_button {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    padding: 20px 28px;
    border: none;
    border-bottom: 1px solid #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
}
.wordpress_button:hover {
    background-color: #656057;
}
.waxom_logo {
    color: #c7b299;
}
.project {
    display: flex;
    flex-direction: column;
}
.project_head {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.project_text {
    max-width: 760px;
    margin: 0 auto;
}
.project_container {
    padding-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.project_navbar {
    margin-bottom: 40px;
}
.project_navbar_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.project_navbar_item {
    margin-right: 10px;
}
.project_navbar_item_mr {
    margin-right: 0;
}
.project_navbar_button {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 10px 18px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}
.project_navbar_button:hover {
    background-color: #998675;
    color: #ffffff
}
.project_item_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-left: 350px;
    padding-right: 350px;
}
.project_item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.project_text_box {
    background-color: #fbfaf8;
    padding: 30px;
}
.project_item_head {
    color: #c7b299;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}
.project_item_text {
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.project_item:hover{
    background-color: #362f2d;
}
.project_item:hover .project_text_box {
    background-color: #362f2d;
}
.project_item:hover .project_item_head {
    color: #ffffff;
}
.project_item:hover .project_item_text {
    color: #c7b299;
}
.project_item:hover .project_img {
    opacity: 0.3;
}
.project_button {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    padding: 20px 45px;
    border: none;
    border-bottom: 1px solid #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    align-self: center;
    margin-bottom: 100px;
}
.project_button:hover {
    background-color: #656057;
    border-bottom: 1px solid white;

}
.video {
    background-image: url(../img/Background.webp);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 705px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video_img {
    margin-bottom: 44px;
    fill:#fff
}
.video_img:hover {
    fill:#c7b299;
    stroke: #362f2d;
    
}
.video_head {
    color: #ffffff;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 30px;
    font-weight: 500;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 29px;
}
.video_text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.video_text_time {
    color: #c7b299;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.excellent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 79px;
}
.excellent_head {
    color: #555555;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    max-width: 410px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.excellent_text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 45px;
    max-width: 657px;
}
.excellent_list {
    padding-left: 100px;
    list-style-type: none;
}
.excellent_list_item {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 12px;
}
.excellent_list_item::before {
    content: "";
    background-image: url(../img/list_img.svg);
    display: inline-block;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-right: 25px;
}
.statistics {
    background-image: linear-gradient( to right, #241c1a, #4b3326 );
    /* display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; */
    /* padding: 69px 500px 60px 500px; */
    padding-top: 69px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}
.cont_stat {
    /* max-width: 1700px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.statistics_item {
    text-align: center;
    padding-right: 120px;
}
.statistics_dish {
    padding-right: 0;
}
.stat_img {
    margin-bottom: 30px;
}
.statistics_head {
    color: #ffffff;
    font-family: 'montserratlight', sans-serif;
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
    margin-bottom: 21px;
}
.statistics_text {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.stat_line {
    width: 30px;
    height: 2px;
    margin: 0 auto;
    background-color: #fff;
}
.recent_text_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 82px;
}
.recent_head {
    color: #555555;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.recent_text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 40px;
    max-width: 757px;
}
.recent_card_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.recent_item {
    margin-right: 30px;
    position: relative;
}
.recent_item_mr {
    margin-right: 0;
}
.recent_text_card {
    max-width: 370px;
    padding: 30px;
    box-sizing: border-box;
    
}
.recent_item_head {
    padding-top: 30px;
    color: #555555;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 19px;
}
.recent_item_text {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 27px;
}
.recent_link {
    text-decoration: none;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.recent_item:hover{
    background-color: #362f2d;
}
.recent_item:hover .recent_text_card{
    background-color: #362f2d;
}
.recent_item:hover .recent_item_head {
    color: #c7b299;
}
.recent_item:hover .recent_item_text {
    color: #ffffff;
}
.recent_item:hover .recent_img {
    opacity: 0.3;
}
.recent_card_box {
    margin-bottom: 40px;
}
.number {
    width: 50px;
    height: 35px;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding: 9px;
    box-sizing: border-box;
}
.recent_item:hover .number {
    opacity: 1;
    background-color: #c7b299;
}
.recent_item:hover .date {
    opacity: 1;
    background-color: #a48d72;
}
.date {
    width: 50px;
    height: 25px;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    position: absolute;
    top: 55px;
    left: 20px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
}
.link_arrow_box {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.arrow {
    fill: #d1d1d1 ;
}
.arrow:hover {
    fill: #c7b299
}
.arrow_left {
    margin-right: 8px;
}
.logo {
    background-image: url(../img/Background_logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 484px;
    display: flex;
    justify-content: center;
}
.logo_img {
    padding-right: 90px;
}
.logo_img_pr {
    padding-right: 0;
}
.footer_top {
    background-color: #191919;
    display: flex;
    /* padding: 94px 370px 81px 370px; */
    justify-content: center;

}
.footer_item {
    margin-right: 65px;
    /* min-width: 270px; */
    max-width: 270px;
    padding-top: 94px;
    padding-bottom: 81px;
}
.waxom_item {
    padding-top: 73px;
}
.footer_head_logo {
    margin-bottom: 45px;
    margin-left: 0;
}
.footer_text {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 33px;
}
.footer_item_link {
    text-decoration: none;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.footer_head {
    color: #ffffff;
    font-family: 'ralewaybold', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.time_text_h5 {
    color: #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.time_text {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 21px;
}
.footer_time {
    border-bottom: 1px solid #555555;
}
.footer_time_br {
    border: none;
}
.footer_time:hover .time_text_h5 {
    color: #ffffff;
}

.footer_time:hover .time_text {
    color: #c7b299;
}
.time_text_twitter {
    margin-top: 18px;
    margin-bottom: 11px;
}
.time_head_twitter {
    color: #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}
.span_footer {
    color: #00bff3;
}
.span_footer_bot {
    color: #959595;
}
.footer_img_box {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

.footer_img_pr {
    padding-bottom: 10px;
}
/* .footer_img_pb {
    padding-bottom: 10px;
} */


.footer_bot {
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    /* padding: 45px 270px 52px 270px; */
    padding-top: 45px;
    padding-bottom: 52px;
}
.waxon_foot {
    color: #c7b299;
}
.footer_links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.footer_links_item {
    color: #555555;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    list-style-type: none;
    margin-left: 10px ;
    margin-right: 10px;
    /* border-right: 1px solid #555555; */
}
.footer_author {
    list-style-type: none;
    display: flex;
    margin-right: 60px;
}
.footer_author_item {
    color: #959595;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding-right: 30px;
}
.copy_links {
    color: #555555;
    text-decoration: none;
}
.footer_author_item {
    color: #555555;
}
.author_span {
    color: #959595;
}
.copy_links:hover {
    color: #c7b299;
}
