@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Light.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/Raleway/Raleway-Black.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-Black.woff') format('woff'),
         url('../fonts/Raleway/Raleway-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway/Raleway-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
         url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
         url('../fonts/Raleway/Raleway-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
         url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
         url('../fonts/Raleway/Raleway-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
         url('./fonts/Raleway/Raleway-Regular.woff') format('woff'),
         url('./fonts/Raleway/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'montserratregular', Arial, Helvetica, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}
.header_main {
    background-image: url(../img/Photo_BG_dark.webp);
    background-color: #736357;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 1024px;
    position: relative;
    background-size: cover;
}

.header_container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 309px;
}
.nav_button {
    display: none;
}
.container_nav {
    display: flex;
    margin-right: 200px;
}
.navbar_header {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 35px;
}
.navbar_item {
    margin-right: 30px;
    max-width: 80px;
}
.navbar_item_mr {
    margin-right: 64px;
}
.navbar_item_link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
.navbar_item_link:hover {
    color: #baa791;
}
/* .navbar_header:hover > li {
    opacity: 0.5;
}
.navbar_header:hover > li:hover {
    opacity: 1;
  } */
.logo_header {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    margin-left: 10.4%;
    margin-right: 5%;
}
/* .logo_header::before {
    content: "";
    background-image: url(../img/logo.svg);
    display: inline-block;
    width: 64px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-right: 2px;
} */
.basket_head, .find_head {
    background: none;
    border: none;
    margin-top: 35px;
}
.form-inline {
    position: relative;
    min-width: 100px;
}
.find_head {
    width: 0;
    padding: 5px;
    border: none;
    background-color: transparent;
    transition: 0.5s;
    position: absolute;
    top: 38px;
    right: 0px;
    color: #fff;
}
.find_head:focus {
    width: 300px;
    border: 2px solid #736357;
    outline: none;
}
.basket_head {
    margin-right: 28px;
}
.card {
    fill: #fff
}
.card:hover {
    fill: #c7b299;
}
.search {
    fill: #fff
}
.search:hover {
    fill: #c7b299;
}
.main_header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header2 {
    color: #ffffff;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 36px;
    font-weight: 500;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.header1 {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 52px;
    font-weight: 800;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 19px;
    text-align: center;
}
.header_text {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 52px;
}
.main_button {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    padding: 21px 39px;
    border: none;
    border-bottom: 1px solid #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    margin-bottom: 45%;
    transition: 0.4s;
}
.main_button:hover {
    background-color: #656057;
}
.lol {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}
/* .arrow_box {
    display: flex;
    justify-content: space-between;
} */
.left, .right {
    width: 40px;
    height: 73px;
    opacity: 0.5;
    padding-top: 55px;
}
 /* .left {
    padding-right: 200px; 
    position: absolute;
    left: 150px;
    top: 475px;
}
.right {
    position: absolute;
    right: 150px;
    top: 475px;
}  */
.left:hover, .right:hover {
    fill: #cebca9;
    opacity: 1;
}
.decor_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 3%;
}
.fa-circle {
    color: #8c8c8f;
    margin-right: 10px;
    opacity: 0.5;
    border: 3px solid transparent;
}
.fa-circle_mr {
    margin-right: 0;
}
.fa-circle:active {
    border: 3px solid #d3c1ad;
    border-radius: 50px;
    color: transparent;
}
.fa-circle:hover {
    border: 3px solid #d3c1ad;
    border-radius: 50px;
}
.card_box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 80px 378px; */
    padding-top: 80px;
    padding-bottom: 80px;
}
.icon {
    fill: #555555
}
.line {
    fill:#f1eee9
}
.card_item {
    text-align: center;
    margin-right: 35px;
    max-width: 15%;
}
.card_item:hover {
    transform: rotate(360deg);
    transition: 1.3s;
}
.card_item:hover .card_item_head {
    color: #c7b299;
}
.card_item:hover .line {
    fill: #c7b299;
}
.card_item:hover .icon {
    fill: #c7b299;
}
.card_item:hover .line_div {
    background-color: #c7b299;
}
/* .icon:hover {
    fill: #c7b299;  
}
.line:hover {
    fill:#c7b299;
}
.card_item_head:hover {
    color: #c7b299;
} */
.card_item_folder {
    margin-right: 0;
}
.icon {
    margin-bottom: 29px;
}
.card_item_head {
    margin-bottom: 19px;
    color: #555555;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.card_item_text {
    margin-bottom: 33px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.line_div {
    margin: 0 auto;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}
.ideas {
    text-align: center;
}
.ideas_head{
    max-width: 500px;
    margin: 0 auto;
}
.head {
    color: #555555;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 24px;
}
.text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.ideas_text {
    max-width: 760px;
    margin: 0 auto;
}
.img_box {
    position: relative;
    margin-bottom: -4px;
}
.left_img {
    position: absolute;
    top: 122px;
    left: 346px;
    z-index: -1;
}
.main_img {
    /* position: absolute;
    top: 40px;
    left: 576px;
    z-index: 5; */
    text-align: center;
    padding-top: 40px;
}
.right_img {
    position: absolute;
    top: 122px;
    right: 344px;
    z-index: -1;
}
.wordpress {
    /* margin-top: 522px; */
    background-image: linear-gradient( to right, #241c1a, #4b3326 );
    display: flex;
    justify-content: space-around;
    padding: 3% 2%;
    background-size: cover;
}
.wordpress_container {
    margin-right: 3%;
}
.wordpress_head {
    color: #ffffff;
    font-family: 'ralewayregular', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 8px;
    /* max-width: 100%; */
}
.wordpress_text {
    color: #615855;
    font-size: 18px;
    font-weight: 300;
}
.wordpress_button {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    padding: 20px 28px;
    border: none;
    border-bottom: 1px solid #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    transition: 0.4s;
}
.wordpress_button:hover {
    background-color: #656057;
}
.waxom_logo {
    color: #c7b299;
}
.project {
    display: flex;
    flex-direction: column;
}
.project_head {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.project_text {
    max-width: 760px;
    margin: 0 auto;
}
.project_container {
    padding-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.project_navbar {
    margin-bottom: 40px;
}
.project_navbar_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.project_navbar_item {
    margin-right: 10px;
}
.project_navbar_item_mr {
    margin-right: 0;
}
.project_navbar_button {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 10px 18px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    transition: 0.4s;
}
.project_navbar_button:hover {
    background-color: #998675;
    color: #ffffff
}
.project_item_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    /* padding-left: 350px;
    padding-right: 350px; */
    padding-left: 10%;
    padding-right: 10%;
}
.project_item {
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    max-width: 24%;
}
.project_img {
    max-width: 100%;
    text-align: center;
}
.project_img_link {
    position: absolute;
    top: 106px;
    left: 198px;
    opacity: 0;
}
.project_img_lupa {
    position: absolute;
    top: 106px;
    left: 144px;
    opacity: 0;
}
.project_item:hover .project_img_lupa {
    opacity: 1;
}
.project_item:hover .project_img_link {
    opacity: 1;
}
.project_img_svg {
    fill: #fff;
}
.project_img_svg:hover {
    fill: #c7b299;
}
.project_text_box {
    background-color: #fbfaf8;
    padding: 30px;
}
.project_item_head {
    color: #c7b299;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}
.project_item_text {
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.project_item:hover{
    background-color: #362f2d;
    transform: scale(1.1);
    transition: 0.4s;
}
.project_item:hover .project_text_box {
    background-color: #362f2d;
}
.project_item:hover .project_item_head {
    color: #ffffff;
}
.project_item:hover .project_item_text {
    color: #c7b299;
}
.project_item:hover .project_img {
    opacity: 0.3;
}
.project_button {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    padding: 20px 45px;
    border: none;
    border-bottom: 1px solid #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    align-self: center;
    margin-bottom: 100px;
    transition: 0.4s;
}
.project_button:hover {
    background-color: #656057;
    border-bottom: 1px solid white;

}
.video {
    /* background-image: url(../img/Background.webp);
    background-position: center center;
    background-repeat: no-repeat; */
    background-image: linear-gradient( to bottom, #4b332f, #fff );
    min-height: 705px;
    position: relative;
}
.video-file {
    width: 100%;
    object-fit: cover;
}
.video-play-btn {
    background: none;
    border: none;
}
.video-play-btn--hide {
    display: none;
}
.video_box {
    position: absolute;
    /* top: 230px;
    left: 670px; */
    top: 25%;
    left: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video_img {
    margin-bottom: 44px;
    fill:#fff;
    /* position: absolute;
    top: 300px;
    left: 910px; */
}
.video_img:hover {
    fill:#c7b299;
    stroke: #362f2d;
    transition: 0.4s;
    
}
.video_head {
    color: #ffffff;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 30px;
    font-weight: 500;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 29px;
}
.video_text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.video_text_time {
    color: #c7b299;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.video-play-btn--hide {
    display: none;
}
.excellent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 79px;
}
.excellent_head {
    color: #555555;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    max-width: 410px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.excellent_text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 45px;
    max-width: 657px;
}
.excellent_list {
    padding-left: 100px;
    list-style-type: none;
    max-width: 710px;
}
.excellent_list_item {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 12px;
}
.excellent_list_item::before {
    content: "";
    background-image: url(../img/list_img.svg);
    display: inline-block;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-right: 25px;
}
.statistics {
    background-image: linear-gradient( to right, #241c1a, #4b3326 );
    /* display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; */
    /* padding: 69px 500px 60px 500px; */
    background-size: cover;
    padding-top: 69px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}
.cont_stat {
    /* max-width: 1700px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.statistics_item {
    text-align: center;
    padding-right: 120px;
}
.statistics_dish {
    padding-right: 0;
}
.stat_img {
    margin-bottom: 30px;
}
.statistics_head {
    color: #ffffff;
    font-family: 'montserratlight', sans-serif;
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
    margin-bottom: 21px;
}
.statistics_text {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.stat_line {
    width: 30px;
    height: 2px;
    margin: 0 auto;
    background-color: #fff;
}
.recent_text_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 82px;
}
.recent_head {
    color: #555555;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.recent_text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 40px;
    max-width: 757px;
}
.recent_card_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.recent_item {
    margin-right: 30px;
    position: relative;
}
.recent_item_mr {
    margin-right: 0;
}
.recent_text_card {
    max-width: 370px;
    padding: 30px;
    box-sizing: border-box;
    
}
.recent_item_head {
    padding-top: 30px;
    color: #555555;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 19px;
}
.recent_item_text {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 27px;
}
.recent_link {
    text-decoration: none;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.recent_item:hover{
    background-color: #362f2d;
    transform: scale(1.1);
    transition: 0.4s;
}
.recent_item:hover .recent_text_card{
    background-color: #362f2d;
}
.recent_item:hover .recent_item_head {
    color: #c7b299;
}
.recent_item:hover .recent_item_text {
    color: #ffffff;
}
.recent_item:hover .recent_img {
    opacity: 0.3;
}
.recent_card_box {
    margin-bottom: 40px;
}
.number {
    width: 50px;
    height: 35px;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding: 9px;
    box-sizing: border-box;
}
.recent_item:hover .number {
    opacity: 1;
    background-color: #c7b299;
}
.recent_item:hover .date {
    opacity: 1;
    background-color: #a48d72;
}
.date {
    width: 50px;
    height: 25px;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    position: absolute;
    top: 55px;
    left: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
}
.link_arrow_box {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.arrow {
    fill: #d1d1d1 ;
}
.arrow:hover {
    fill: #c7b299
}
.arrow_left {
    margin-right: 8px;
}
.logo {
    background-image: url(../img/Background_logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #a48d72;
    min-height: 484px;
    display: flex;
    justify-content: center;
    margin-bottom: -2px;
}
.logo_img {
    padding-right: 90px;
}
.logo_img_pr {
    padding-right: 0;
}
.footer_top {
    background-color: #191919;
    display: flex;
    /* padding: 94px 370px 81px 370px; */
    justify-content: center;

}
.footer_item {
    margin-right: 65px;
    /* min-width: 270px; */
    max-width: 14.2%;
    padding-top: 94px;
    padding-bottom: 81px;
    flex-wrap: wrap;
}
.waxom_item {
    padding-top: 73px;
}
.footer_head_logo {
    margin-bottom: 45px;
    margin-left: 0;
}
.footer_text {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 33px;
}
.footer_item_link {
    text-decoration: none;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.footer_head {
    color: #ffffff;
    font-family: 'ralewaybold', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.time_text_h5 {
    color: #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.time_text {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 21px;
}
.footer_time {
    border-bottom: 1px solid #555555;
}
.footer_time_br {
    border: none;
}
.footer_time:hover .time_text_h5 {
    color: #ffffff;
}

.footer_time:hover .time_text {
    color: #c7b299;
}
.time_text_twitter {
    margin-top: 18px;
    margin-bottom: 11px;
}
.time_head_twitter {
    color: #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}
.twitter_link {
    text-decoration: none;
}
.span_footer {
    color: #00bff3;
}
.span_footer_bot {
    color: #959595;
}
.footer_img_box {
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    /* grid-template-rows: repeat(auto-fit, minmax(80px, 1fr) ); */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; */

}

/* .footer_img_pr {
    padding-bottom: 10px;
} */
/* .footer_img_pb {
    padding-bottom: 10px;
} */


.footer_bot {
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    /* padding: 45px 270px 52px 270px; */
    padding-top: 45px;
    padding-bottom: 52px;
}
.waxon_foot {
    color: #c7b299;
}
.footer_links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.footer_links_item {
    color: #555555;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    list-style-type: none;
    margin-left: 10px ;
    margin-right: 10px;
    max-width: 164px;
    /* border-right: 1px solid #555555; */
}
.footer_author {
    list-style-type: none;
    display: flex;
    margin-right: 60px;
}
.footer_author_item {
    color: #959595;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding-right: 30px;
    max-width: 185px;
}
.copy_links {
    color: #555555;
    text-decoration: none;
}
.footer_author_item {
    color: #555555;
}
.author_span {
    color: #959595;
}
.copy_links:hover {
    color: #c7b299;
}
@media screen and (max-width: 1600px) {
    .project_item {
        max-width: 50%;
    }
}
@media screen and (max-width: 1440px) {
    .project_item {
        max-width: 45%;
    }
    .video_box {
        left: 30%; 
    }
    .left_img {
        top: 24%;
        left: 0;
    }
    .right_img {
        top: 24%;
        right: 0;
    }
}
@media screen and (max-width: 1024px) {
    .logo_header {
        margin-left: 5%;
    }
    .container_nav {
        margin-right: 5%;
        margin-left: 30px;
    }
    .navbar_header {
        margin-top: 30px;
        justify-content: center;
    }
    .basket_head {
        margin-top: 30px;
    }
    .find_head {
        top: 70px;
    }
    .main_button {
        margin-bottom: 35%;
    }
    .card_box {
        padding-left: 5%;
        padding-right: 5%;
    }
    .card_item {
        max-width: 25%;
    }
    .left_img {
        top: 24%;
        left: 0;
    }
    .right_img {
        /* top: 122px;
        right: 245px; */
        top: 24%;
        right: 0;
    }
    .video_box {
        /* left: 270px; */
        left: 25%;
    }
    .statistics {
        padding-left: 5%;
        padding-right: 5%;
    }
    .logo {
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: -62px;
        padding-top: 7%;
        padding-bottom: 5%;
    }
    .logo_img {
        padding-right: 0;
        padding-bottom: 30px;
        width: 27%;
    }
    .logo_img_1 {
        padding-right: 10%;
    }
    /* .footer_img_tab {
        padding-bottom: 10px;
    } */
    /* .card_item_pen {
        margin-bottom: 35px;
    }
    .card_item_layr {
        margin-right: 0;
        margin-bottom: 35px;
    } */
}
@media screen and (max-width: 960px) {
    .logo_header {
        margin-left: 5%;
    }
    .container_nav {
        margin-right: 5%;
        margin-left: 30px;
    }
    .navbar_header {
        margin-top: 30px;
    }
    .basket_head {
        margin-top: 30px;
    }
    .find_head {
        top: 70px;
    }
    .main_button {
        margin-bottom: 35%;
    }
    .card_box {
        flex-wrap: wrap;
    }
    .card_item {
        max-width: 35%;
    }
    .card_item_pen {
        margin-bottom: 35px;
    }
    .card_item_layr {
        margin-right: 0;
        margin-bottom: 35px;
    }
    .img_box {
        position: unset;
        display: flex;
        flex-direction: column;
    }
    .ideas {
        padding-left: 10%;
        padding-right: 10%;
    }
    .ideas_img {
        position: unset;
        justify-content: center;
        padding-top: 10px;
    }
    .left_img {
        padding-top: 25px;
    }
    .project_item_box {
        padding-left: 5%;
        padding-right: 5%;
    }
    .project_item {
       max-width: 100%;
    }
    .video_box {
        left: 22%;
    }
    .excellent_container {
        padding-right: 3%;
    }
    .excellent_head {
        margin-left: 0;
    }
    .excellent_img {
        padding-top: 67px;
    }
    .excellent_list {
        padding-left: 0;
    }
    .cont_stat {
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: space-around;
    }
    .statistics {
        padding-left: 0;
        padding-right: 0;
    }
    .statistics_item {
        text-align: center;
        padding-right: 0;
        width: 35%;
        padding-bottom: 10%;
    }
    .logo {
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: -58px;
        padding-top: 7%;
        padding-bottom: 5%;
    }
    .logo_img {
        padding-right: 0;
        padding-bottom: 30px;
        width: 30%;
    }
    .footer_img_box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .footer_top {
        justify-content: flex-start;
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer_head_logo {
        margin-left: -10px;
    }
    .footer_item {
        max-width: 22%;
        margin-right: 35px;
    }
    /* .footer_head_tw {
        margin-bottom: 45px;
    } */
    /* .footer_img_tab {
        padding-bottom: 10px;
    } */
    .footer_bot {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .footer_links {
        flex-direction: column;
    }
    .footer_item_link {
        margin: 0;
    }
    .footer_author {
        flex-direction: column;
        margin-right: 0;
    }

}
@media screen and (max-width: 800px) {
    .left, .right {
        display: none;
    }
}

@media screen and (max-width: 524px) {
    .header_container {
        padding-bottom: 200px;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
    }
    .container_nav {
        position: absolute ;
        margin-right: 0;
        left: 33%;
        top: 100px;
        display: none;
        margin-left: 0;
    }
    .navbar_header {
        flex-direction: column;
        margin-top: 0;
    }
    .nav_button {
        background-color: transparent;
        border: none;
        width: 60px;
        height: 60px;
        display: block;
        padding: 15px;
        box-sizing: border-box;
        margin-top: 5px;
    }
    .nav_button span {
        width: 100%;
        height: 4px;
        background-color: #fff;
        display: block;
        margin-bottom: 4px;
    }
    .basket_head, .find_head {
        margin-top: 105px;
    }
    .basket_head {
        margin-right: 15px;
    }
    .find_head {
        top: 38px;
    }
    .find_head:focus {
        width: 250px;
    }
    /* .nav_button:checked { 
        span {
          opacity: 0;
        }
        span:first-child {
          opacity: 1;
          transform: rotate(405deg);
        }
        span:last-child {
          opacity: 1;
          transform: rotate(-405deg);
        }
    } */
    /* .nav_button:target .container_nav { 
        display: block;
    } */
    
    .open {
        display: flex;
      }
    .close {
        display: none;
    }
    /* .header_container {
        position: relative;
    }
    .container_nav {
        position: absolute;
        left: 10px;
        top: 100px;
    }
    .navbar_header {
        position: absolute;
    } */

    .logo_header {
        margin-left: 0;

    }
    .left, .right {
        display: none;
    }
    .main_button {
        margin-bottom: 65px;
    }
    .main_header_text {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .card_box{
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        flex-wrap: wrap;
        /* align-items: center; */
        padding: 80px 20%;
    }
    .card_item {
        text-align: center;
        margin-right: 35px;
        display: block;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

    }
    .img_box {
        position: unset;
        display: flex;
        flex-direction: column;
    }
    .ideas {
        padding-left: 10%;
        padding-right: 10%;
    }
    .ideas_img {
        position: unset;
        justify-content: center;
        max-width: 425px;
        padding-top: 10px;
    }
    .left_img {
        padding-top: 25px;
    }
    .wordpress {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5% 70px;
    }
    .wordpress_head {
        margin-bottom: 20px;
    }
    .wordpress_text {
        margin-bottom: 25px;
    }
    .wordpress_button {
        padding: 20px 0;
    }
    .project_container {
        padding-left: 10%;
        padding-right: 10%;
    }
    .project_navbar_list {
        flex-wrap: wrap;
    }
    .project_navbar_item {
        margin-right: 15px;
    }
    .project_navbar_item_mb {
        margin-bottom: 15px;
    }
    .project_item_box {
        padding-left: 10%;
        padding-right: 10%;
    }
    .project_item {
        margin-right: 0;
        max-width: 100%;
    }
    .video_box {
        top: 180px;
        left: 0;
    }
    .video_text {
        padding-left: 10%;
        padding-right: 10%;
    }
    .video_head {
        text-align: center;
    }
    .excellent_img {
        display: none;
    }
    .excellent_container {
        padding-left: 10%;
        padding-right: 10%;
    }
    .excellent_list {
        padding-left: 0;
        margin-bottom: 70px;
    }
    .excellent_list_item::before {
        margin-right: 10px;
    }
    .cont_stat {
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: space-around;
    }
    .statistics_item {
        text-align: center;
        padding-right: 0;
        width: 35%;
        padding-bottom: 10%;
    }
    .recent_card_box {
        margin-bottom: 0;
    }
    .recent_text_box {
        padding-left: 10%;
        padding-right: 10%;
    }
    .recent_item {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .logo {
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: -4px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .logo_img {
        padding-right: 0;
        padding-bottom: 30px;
        width: 40%;
    }
    .logo_img_1 {
        padding-right: 10%;
    }
    .footer_top  {
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
        text-align: center;
    } 
    .footer_item {
        margin-right: 0;
        max-width: 67%;
        align-self: center;
        padding: 0;
        padding-top: 30px;
    }
    .footer_img_box {
        margin-bottom: 70px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .footer_img_tab {
        padding-bottom: 0;
    }
    .footer_bot {
        flex-direction: column;
        justify-content: center;
        padding-top: 45px;
        padding-bottom: 52px;
    }
    .footer_links {
        flex-direction: column;
        align-items: center;
    }
    .footer_author  {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .footer_author_item {
        padding-right: 0;
    }
}
@media screen and (max-width: 399px) {
    .footer_item {
        max-width: 87%; 
    }
}
